h1,
p,
li {
    margin-top: 0.8em;
    font-size: 1.4em;
    line-height: 1.4;
    color: #666;
}
h1 {
    margin-top: 0.4em;
    margin-bottom: 0.6em;
    font-size: 3.0em;
    line-height: 1.0;
    font-weight: bold;
    color: #555;
}
.fontface h1 {
    font-family: "Alegreya";
    letter-spacing: 0.05em;
}
li {
    margin-top: 0.6em;
    margin-left: 1.0em;
    line-height: 1.2;
}
ul li {
    list-style: disc;
}
ol li {
    list-style: decimal;
}
nav li {
    display: inline-block;
    margin-left: 0;
    font-size: 1.5em;
    list-style: none;
}
nav strong {
    font-size: 1.05em;
}
li li,
nav li li {
    font-size: 1.0em;
}
nav li:not(:last-child) {
    margin-right: 0.6em;
    padding-right: 0.6em;
    border-right: 1px solid #DDD;
}
a {
    color: #666;
    text-decoration: underline;
}
a:hover,
a:focus {
    color: #888;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
small {
    font-size: 0.8em;
}
.button,
.button:hover,
.button:focus {
    color: white;
}
.button {
    display: block;
    padding: 0.6em 1.2em;
    background-color: #666;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.2)), to(rgba(0, 0, 0, 0.2)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    text-decoration: none;
}
.button:hover,
.button:focus {
    background-color: #555;
}
body > header:not(#overview) > h1,
body > header:not(#overview) > article:first-child > h1,
body > header:not(#overview) > article:first-child ~ article > h1,
body > section > h1,
body > section > article:first-child > h1,
body > section > article:first-child ~ article > h1,
body > article > h1,
body > article > article:first-child > h1,
body > article > article:first-child ~ article > h1,
body > footer > h1,
body > footer > article:first-child > h1,
body > footer > article:first-child ~ article > h1 {
    font-size: 1.4em;
    color: #AAA;
    text-transform: uppercase;
}
body > header > h1,
body > section > h1,
body > article > h1,
body > footer > h1 {
    text-align: center;
}
body > header#overview h1,
body > header#overview p,
body > header#overview a {
    color: white;
}
body > header#overview h1 {
    margin-top: 0.6em;
    font-size: 8.0em;
}
body > header#overview p,
body > header#overview a {
    color: rgba(255, 255, 255, 0.8);
}
body > header#overview a:hover,
body > header#overview a:focus {
    color: rgba(255, 255, 255, 0.9);
}
body > header#overview h1 small {
    display: block;
    margin-top: 0.7em;
    font-size: 0.275em;
    font-weight: normal;
    letter-spacing: 0.4em;
    color: rgba(255, 255, 255, 0.65);
    text-transform: uppercase;
}
body > header#overview p {
    max-width: 75%;
    font-size: 1.8em;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
}
#details h1 {
    margin-top: 0.8em;
    font-size: 2.5em;
    color: #666;
}
#details li strong {
    display: block;
    font-size: 0.8em;
    color: #888;
    text-transform: uppercase;
}
#producers-partners nav li:not(:last-child) {
    margin-right: 1.6em;
    padding-right: 1.6em;
    border-right: none;
}
.logo {
    width: 150px;
    height: 100px;
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -999em;
}
.logo-vbsr-marketplace {
    background-image: url(/media/VBSR-Marketplace-150x97.jpg);
}
.logo-found-line {
    background-image: url(/media/Found-Line-150x56.jpg);
}
.logo-big-heavy-world {
    background-image: url(/media/Big-Heavy-World-106x100.jpg);
}
.logo-code-for-america {
    background-image: url(/media/Code-for-America-150x60.jpg);
}
