body {
    padding-bottom: 2.0em;
    background-color: white;
    font-family: sans-serif;
    font-size: 62.5%;
    color: #555;
    text-align: center;
}
body > header,
body > section,
body > article,
body > footer {
    padding: 1.5em 5% 1.0em;
}
body > header > *,
body > section > *,
body > article > *,
body > footer > * {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
body > header > article,
body > section > article,
body > article > article,
body > footer > article {
    width: 26%;
    display: inline-block;
    padding: 0 3% 2.0em;
    vertical-align: top;
}
#overview {
    padding-bottom: 4.0em;
    background-color: #4C99D3;
}
#overview.banner {
    padding-bottom: 1.0em;
}
#participate {
    background-color: #F5F5F5;
}
#participate #hackers,
#participate #public,
#schedule #june-1,
#schedule #june-2 {
    max-width: 400px;
    width: 43%;
}
#producers-partners-sponsors {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}
#producers-partners-sponsors article,
#credits article {
    width: 94%;
    text-align: center;
}
#tracks {
    padding-bottom: 0;
}
body > footer p,
body > footer a {
    color: #AAA;
}
body > footer p {
    margin-top: 0.2em;
    font-size: 1.0em;
    text-align: center;
}
body > footer a:hover,
body > footer a:focus {
    color: #BBB;
}
@media screen and (max-width: 599px) {
    #participate #hackers,
    #participate #public {
        width: 94%;
    }
}
@media screen and (max-width: 767px) {
    body > header > article,
    body > section > article,
    body > article > article,
    body > footer > article {
        width: 94%;
    }
    #schedule #june-1,
    #schedule #june-2 {
        width: 94%;
    }
}
